<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Title</title>
  <% if (__dev__) { %>
  <script>
    var ALIYUN_CONSOLE_CONFIG = {
      LANG: 'zh',
      SEC_TOKEN: 'mock-sec-token'
    };
    var RISK_INFO = {
      GETUA: function () {
        return 'mock-collina-ua'
      },
      UMID: 'mock-umid'
    };
  </script>
  <% } %>
</head>
<body>
  <div id="app"></div>
</body>
</html>